<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<h1>Delete User</h1>
<p>
    <a th:href="@{/users}">Back to users list</a>
</p>
<div id="form">
    <form th:action="@{/users/delete}" th:object="${user}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}"/>
        </div>
        <div>
            <label>Email</label>
            <input type="email" th:field="*{email}"/>
        </div>
        <div>
            <label>Password</label>
            <input type="text" th:field="*{password}"/>
        </div>
        <input type="submit" value="Delete"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>