<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/layout :: head">
</head>
<body>
<div class="header" style="display: flex;background: #0A2550">
    <h1>List type blog</h1>
    <label style="margin-right: 30px; line-height: 81px;color: white" sec:authorize="isAuthenticated()">[[${#request.userPrincipal.principal.username}]]</label>
    <a style="margin-right: 30px; line-height: 81px;color: white" sec:authorize="isAuthenticated()" th:href="@{/logout}">Logout</a>
</div>
<div class="control">
    <p>
        <a th:href="@{/user/index}">Blog list</a>
    </p>
</div>
<div class="control">
    <p>
        <a th:href="@{/admin/createType}">Create new type blog</a>
    </p>
</div>
<form style="margin-left: 10px; margin-right: 10px">
    Search by name:
    <input th:action="@{/listType}" name="search" type="text"/> <input type="submit" value="Search"/>
</form>
<table id="blog" style="text-align-last: center; margin-left: 10px; width: 99%">
    <thead>
    <th>ID</th>
    <th>Name</th>
    <th>View</th>
    <th>Edit</th>
    <th>Delete</th>
    </thead>
    <tbody th:each="t : ${typeList}">
    <td th:text="${t.id}"></td>
    <td th:text="${t.name}"></td>
    <td><a th:href="@{/admin/{id}/viewType(id=${t.getId()})}">view</a></td>
    <td><a th:href="@{/admin/{id}/editType(id=${t.getId()})}">edit</a></td>
    <td><a th:href="@{/admin/{id}/deleteType(id=${t.getId()})}">delete</a></td>
    </tbody>
</table>

<!--<div class="page">-->
<!--    <a th:href="@{'/'(page=${blog.number - 1}, search=${search})}" th:if="${blog.hasPrevious()}" >Previous</a>-->
<!--    <span th:text="${blog.number + 1}"></span>/<span th:text="${blog.totalPages}"></span>-->
<!--    <a th:href="@{'/'(page=${blog.number + 1}, search=${search})}" th:if="${blog.hasNext()}">Next</a>-->
<!--</div>-->

<footer th:replace="/layout :: footer"></footer>
</body>
</html>