<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" xmlns:sec="http://www.w3.org/1999/xhtml">
<head th:replace="/layout :: head">
</head>
<body>
<div class="header" style="display: flex;background: #0A2550">
    <h1>View type blog</h1>
    <label style="margin-right: 30px; line-height: 81px;color: white" sec:authorize="isAuthenticated()">[[${#request.userPrincipal.principal.username}]]</label>
</div>
<p>
    <a th:href="@{/admin/listType}">Back to types list</a>
</p>
</div>
<div id="form">
    <form th:action="@{/admin/view}" th:object="${typeBlog}"
          method="POST" novalidate="novalidate">
        <input type="hidden" th:field="*{id}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{name}" readonly/>
        </div>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>