<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head"></head>
<body>
<h3>Add Music</h3>
<p>
    <a th:href="@{/music}">
        Back to product list
    </a>
</p>
<div id="form">
    <!--/*@thymesVar id="musicForm" type="com.codegym.model.MusicForm"*/-->
    <form th:action="@{/music/save}" th:object="${musicForm}"
          method="POST" novalidate="novalidate" enctype="multipart/form-data">
        <input type="hidden" th:field="*{name}"/>
        <div>
            <label>Name</label>
            <input type="text" th:field="*{category}"/>
        </div>
        <div>
            <label>Description</label>
            <input type="text" th:field="*{singer}"/>
        </div>
        <div>
            <label>Image</label>
            <input type="text" th:field="*{link}"/>
        </div>
        <input type="submit" value="Save"/>
    </form>
</div>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>