<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head th:replace="/layout :: head">
</head>
<body>
<style>
    ul {
        list-style-type: none;
        margin: 0;
        padding: 0;
        overflow: hidden;
    }

    li {
        float: left;
    }

    li a {
        display: block;
        padding: 50px;
        background-color: #dddddd;
    }
</style>
<h1>Select shop</h1>
<ul>
    <li><a th:href="@{/index}">Shop Technology</a></li>
    <li><a th:href="@{/index}">Shop Flower</a></li>
    <li><a th:href="@{/index}">Shop Fashion</a></li>
</ul>
<footer th:replace="/layout :: footer"></footer>
</body>
</html>